<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    
    <div ui-grid>
      <div class="four wide column">
        <div ui-menu class="vertical pointing">
          <a ui-menu-item="active.bind: row.isActive" repeat.for="row of router.navigation" href.bind="row.href">${row.title}</a>
        </div>
      </div>
      <div class="twelve wide column">
        <router-view></router-view>
      </div>
    </div>
  </section>
</template>
