<template>
  <h2 ui-header>${heading}</h2>
  <form ui-form submit.delegate="submit()">
    <div class="field">
      <label>First Name</label>
      <input type="text" value.bind="firstName" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" value.bind="lastName" placeholder="Last Name">
    </div>
    <div class="field">
      <p class="help-block">${fullName | upper}</p>
    </div>
    <button ui-button type="submit">Submit</button>
  </form>
</template>
