<template bindable="router">
    <div ui-menu class="pointing">
      <a ui-menu-item="active.bind: row.isActive" repeat.for="row of router.navigation" href.bind="row.href">${row.title}</a>
    </div>
</template>