<template>
  <require from="./components/nav-bar.html"></require>
  <div ui-container>
  <nav-bar router.bind="router"></nav-bar>
  <div ui-segment>
  <router-view></router-view>
  </div>
</template>
